@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #f25b2a;
  --color-green: #00812e;
  --color-secondary: #1d3557;
  --color-accent: #f1faee;
}

body {
  font-family: 'Inter', sans-serif; 
}
